// Declare image variables
testImage = '../img/home/home_img_1.jpg'

#home
  #home_hero
    background linear-gradient(rgba(50,50,50,0.1),rgba(50,50,50,0.1)),url(testImage)
    color white
    background-size cover
    background-repeat no-repeat
    height 70vh
    #hero_welcome
      padding-left 5%
  #description
    height 50vh
    h1
      padding-bottom 7%
  #outro
    height 27vh
    background-color #bdb5b5
    margin-bottom 5%