// Import all partials
@require 'styl/_normalize.styl'
@require 'styl/_typography.styl'
@require 'styl/_header.styl'
@require 'styl/_home.styl'
@require 'styl/_boardofdirectors.styl'

@require 'styl/_portfolioItems.styl'
@require 'styl/_form.styl'

@require 'styl/_faq.styl'

// General Styles on tags
html, body
  height 100%
  overflow hidden

ul
  list-style-type none

body
  background-color white
  
footer
  height 7vh
  color white
  background-color black

#page-content
  margin-left 0px
  margin-top 50px
  width 100%
  height calc(100% - 50px)
  overflow-x hidden
  overflow-y scroll
  -webkit-overflow-scrolling touch
  
#home, #boardofdirectors
  min-height 85vh

.flex
  display flex
  flex-direction column
  justify-content center

.flex_h
  display flex
  flex-direction row
  justify-content center

.text_center
  text-align center


#contact-content
  margin-top 50px