// Import all partials
@require '_normalize.styl'
@require '_typography.styl'
@require '_header.styl'
@require '_home.styl'
@require '_boardofdirectors.styl'

// @require '_portfolioItems.styl'
// @require '_form.styl'





// General Styles on tags
html, body
  height 100%
  overflow hidden

ul
  list-style-type none

body
  background-color white
  
footer
  height 7vh
  color white
  background-color black

#page-content
  margin-left 0px
  margin-top 50px
  width 100%
  height calc(100% - 50px)
  overflow-x hidden
  overflow-y scroll
  -webkit-overflow-scrolling touch
  
#home, #boardofdirectors
  min-height 85vh

.flex
  display flex
  flex-direction column
  justify-content center

.flex_h
  display flex
  flex-direction row
  justify-content center

.text_center
  text-align center



// Contact Page Custom Styles
	margin-top 50px
	@media (min-width:961px), (max-height: 1279px)
#contact-content
			padding-right 0px
		.col-lg-1, .col-lg-2
			padding-left 6px

// faq Page Custom Styles
.faq-custom-content
	margin-top 50px
	margin-bottom 50px