<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Foundation of Hope</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
	<label for="drawer-toggle" id="drawer-toggle-label"></label>
	<header>&nbsp</header>
	<nav id="drawer">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="boardoftrustees.html">Board of Trustees</a></li>
			<li><a href="">Coming Soon</a></li>
		</ul>
	</nav>
	<div id="page-content">
		<div class=" container" id="boardoftrustees">
			<div class="hero text-center">
				<div class="contained">
					<h1 class="">Board of Trustees</h1>
					<p>
						Our Board of Trustees is dedicated to our mission of inspiring hope, growth and offering an opportunity to achieve positive change in lives of those in our local community and around the world.
					</p>
				</div>
			</div>

			<div class="section container flex text_center">
				<h2 class=""> The Foundation of Hope Board of Trustees, as of November 1, 2016 </h2>
				<hr/>

				<div id="boardoftrustees" class="sub-section">
					<p>Rebecca Prosper, Chairman</p>
					<p>Katherine Greene, Secretary</p>
					<p>Renee Prosper, Treasurer</p>
					<p>Elizabeth Mondesir, CPA</p>
					<p>Dr. Michael Sullivan, RPH</p>
					<p>Careen Derise MS</p>
					<p>Dr. William T Brown</p>
					<p>Courtney Lewis</p>
					<p>Stephanie Maisonneuve</p>
					<p>Nancy Montour</p>
					<p>Yvette Salomon</p>
				</div>
			</div>
		</div>
		<footer class="flex text_center">
			<div>
				Foundation of Hope | 2017
			</div>
		</footer>
	</div>


</body>
</html>