<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Foundation of Hope</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
	<label for="drawer-toggle" id="drawer-toggle-label"></label>
	<header>&nbsp</header>
	<nav id="drawer">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="boardofdirectors.html">Board of Directors</a></li>
			<!-- <li><a href="history.html">History</a></li> -->
			<li><a href="">Coming Soon</a></li>
		</ul>
	</nav>
	<div id="page-content">

		<div id="boardofdirectors">

			<div class="hero text-center container">
				<div class="contained">
					<h1 class="">Board of Directors</h1>
					<p>
						The Foundation of Hope Board of Directors, as of November 1, 2016
					</p>
				</div>
			</div>

			<div class="section container flex">
				<p class="text_center">
					Our Board of Directors is dedicated to our mission of inspiring hope, growth and offering an opportunity to achieve positive change in lives of those in our local community and around the world.
				</p>
				<hr/>

				<div id="listofdirectors" class="sub-section">
					<div class="row flex_h">
						<div class="col-md-4 text_center">
							<b><u>Vice Chair</u></b> <br/><br/>

							Dr. William T Brown <br/>
							Kathleen Brunswick <br/>
							Careen Derise, MBA, MS <br/>
							Dr. Michael Sullivan, RPH <br/>
							Nancy Montour <br/>
							Wayne Winston <br/><br/>
						</div>
						<div class="col-md-4 text_center">
							<b><u>Secretary</u></b> <br/><br/>

							Katherine Greene <br/><br/>

							<b><u>Treasurer</u></b> <br/><br/>

							Mikilah Worseley <br/><br/>
						</div>
					</div>
					<div class="row flex_h">
						<div class="col-md-4 text_center">
							<br/><br/><b><u>Directors</u></b> <br/><br/>

							Marc Civil, CPA <br/>
							Dawn Hewitt, ND <br/>
							Courtney Lewis <br/>
							Stephanie Maisonneuve <br/>
							Elizabeth Mondesir, CPA <br/>
							Phebe Rene, MSW, MPH <br/>
							Precious Stone <br/>
							Utibe Abasi Udo-Okon <br/><br/>
						</div>
						<div class="col-md-4 text_center">
							<br/><br/> <b><u>Advisory Board</u></b> <br/><br/>

							Janice Domiziano <br/>
							Eduard Point Du Jour MS <br/>
							Rev. Dr. Paule Pryzgoda, RN <br/>
							Emilio Revolus <br/>
							Yvette Salomon <br/>
							Ofonime Udo-Okon <br/><br/>
						</div>
					</div>
				</div>

			</div>
		


		</div>
		<footer class="flex text_center">
			<div>
				Foundation of Hope | 2017
			</div>
		</footer>
	</div>
	<!-- jQuery -->
	<script type="text/javascript" src="../js/jquery-3.1.0.min.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
</body>
</html>
