<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Foundation of Hope</title>
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/tingle.min.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
  <label for="drawer-toggle" id="drawer-toggle-label"></label>
  <header>&nbsp</header>
  <nav id="drawer">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="index.html">Home</a></li>
      <li><a href="boardofdirectors.html">Board of Directors</a></li>
      <li><a href="faq.html">Frequently Asked Questions</a></li>
      <!-- <li><a href="history.html">History</a></li> -->
      <li><a href="">Coming Soon</a></li>
    </ul>
  </nav>
  <div id="page-content">
    <div id="faq">
      <div class="hero">
        <div class="contained">
          <h3 class="text-center">Frequently Asked Questions</h3>
        </div>
      </div>
      

      <div class="text_center faq-custom-content container">   
        <div class="panel-group" id="accordion">
        
        
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion-one">
                  How can I volunteer at the Foundation of Hope?
                </a>
              </h4>
              </div>
            </div>
          
          <div id="accordion-one" class="panel-collapse collapse">
            <div class="panel-body bg-info">
              <p>
                Volunteers are an important part of the Foundation of Hope. 
                Working in harmony as a team, we can make a positive impact in our community. 
              </p>
              We welcome committed individuals to become volunteers for committee positions. 
              Our positions are offered in different areas such as finance, fundraising, marketing and communications, 
              academia, outreach, social media, and administrative work. 
              Most volunteers are asked to commit to a minimum of 4 hours per week. 
              To become a volunteer email Events@inspiregivehope.com or Call 646.820.3771.
              <p>
                If you would like to know more about "Brief Committee Descriptions" please click <a class="tingle_addon tingle_button_decoration">HERE</a> for a more detailed explanation.
              </p>

              <div class="tingle_addon_window hidden">

              
                <div class="well">
                  <h3 class="text-center">Academia</h3>
                  <p>The purpose of the Academic Committee is to provide oversight of all matters relating to the Hope Community Center’s programs such as, School year & Summer school curriculum, French & Spanish classes, ESL program, Special needs program. Committee faculty members on board ensure that academic priorities are appropriately drafted and funded, and consistent with the overall educational requirements and mission of Connecticut State Board of Education and our community center.</p>
                  </div>
                <hr>

                
                <div class="well">
                  <h3 class="text-center">Administration</h3>
                  <p>The Administration Committee is a select committee of the FoH responsible for implementing and executing the policies adopted by FoH, and making day-to-day administration decisions. The Committee also is responsible for devising methods and procedures for professional growth of the support staff in the department. Also, reviewing data and legal policies.</p>
                  </div>
                <hr>

                
                <div class="well">
                  <h3 class="text-center">Ambassadors</h3>
                  <p>Our ambassador committee is a group of experienced members dedicated to helping the community. Ambassadors serve as extensions of our staff. They participate in organizing events, working registration tables, Silent action tables, and they are prepare the atmosphere for philanthropy. They publicly are a representation of what Foundation of Hope (FoH) represents. Hence, they are very important representatives for our organization. Provide insight and expertise and support FoH awareness campaigns as needed.</p>
                  </div>
                <hr>

                
                <div class="well">
                  <h3 class="text-center">Finance Committee</h3>
                  <p>Operating and managing fiscal matters, charged with oversight of the following components, among others: grants, donations, financial reporting, compensation, long-term incentives and disclosure. Also concerned with matters relating to taxation and other revenue measures and those relating deposit of moneys.</p>
                  </div>
                <hr>

                
                <div class="well">
                  <h3 class="text-center">Media Development</h3>
                  <p>Involved in developing media strategies that encourage involvement and investment in FoH's mission. They define and develop the media. They create and implement the look, layout, and features on website, social media communications, newsletters, annual report and other marketing projects. They update our media content, articles, press releases, alerts, project information, news, events, and more.</p>
                  </div>
                <hr>

                
                <div class="well">
                  <h3 class="text-center">Fund Development</h3>
                  <p>Involved with strategic initiatives and innovative planning. Committee assists the board and all of the other committees with developing strategy for partnership and fundraising. It is responsible for the organization's strategic partnership and fundraising direction. They create processes including development of short term and long term strategic plan with measurable goals and time targets and competencies. They develop and open relationships with other organizations for profit, non profit and government. They are the outreach strategists. They identify opportunities for community involvement, and bring potential partners together.</p>
                  </div>
                <hr>

                
                <div class="well">
                  <h3 class="text-center">Executive Committee</h3>
                  <p>This group of directors appointed to act on behalf of, and within the powers granted to them by, the board of directors. The vice-chairpersons, secretary, and treasurer, & committee chairs belong to this group and deliver committee reports quarterly. They ensure that the board fulfills its legal, ethical, and functional responsibilities through adequate governance policy development, recruitment strategies, training programs, they monitor board activities, and evaluate board members' performance.</p>
                  </div>
                <hr>

                
                <div class="well">
                  <h3 class="text-center">Global Initiatives</h3>
                  <p>Providing access to quality programs such as building and operating orphanages, schools and agricultural economic reform in targeted FoH countries of concern (e.g. Haiti & Jewish relief). This committee also creates annual high-level networking events. They seek resources and recognition influencing the discourse on issues in other countries of concern by the FoH. </p>
                  </div>
                <hr>

                
                <div class="well">
                  <h3 class="text-center">Marketing</h3>
                  <p>Seeks to generate FoH interest and to develop strategies that encourage involvement and investment in FoH's mission. They define the short-term and long-term marketing needs. Contribute to and review the marketing plan to ensure progress toward annual and long-range goals. Provide annual marketing budget recommendations. Set priorities for marketing efforts; evaluate plans and strategies; and present outcomes to Board of Directors, as appropriate. They handle public relations, website, social media communications, newsletters, annual report and other marketing projects. Identify and recruit community leaders to serve with Board members. They also engage in advocacy, campaigning and networking.</p>
                  </div>
                <hr>  

                </div>



              </div> 
            </div>  
          <hr class="faqstyle">
          

          
          
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion-two">
                  Why should I help the Foundation of Hope/What is the impact of my support?
                </a>
              </h4>
              </div>
            </div>
          
          <div id="accordion-two" class="panel-collapse collapse">
            <div class="panel-body bg-info">
              Your gift along with other support, will help local children and families we support through programs in the Hope Community Center and other charitable programs we support
              </div> 
            </div>  
          <hr class="faqstyle">
          

          
          
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion-three">
                  How much of my donation will go toward programs?
                </a>
              </h4>
              </div>
            </div>
          
          <div id="accordion-three" class="panel-collapse collapse">
            <div class="panel-body bg-info">
              In fiscal year 2014, on average, 81% of all expenditures support program services. In fiscal year 2015 98% of all expenditures support program services. 82% is an average the Foundation of Hope would like to continue annually for all programs moving forward. More information about our finances and the use of funds is available on our financial page.
              </div> 
            </div>  
          <hr class="faqstyle">
          

          
          
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion-four">
                  Is my donation tax deductible?
                </a>
              </h4>
              </div>
            </div>
          
          <div id="accordion-four" class="panel-collapse collapse">
            <div class="panel-body bg-info">
              Yes, donations to Foundation of Hope are 100% tax deductible. If you have questions or live outside of the United States, please contact your tax advisor.
              </div> 
            </div>  
          <hr class="faqstyle">
          

          
          
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion-five">
                  What is Foundation of Hope’s Tax ID Number?
                </a>
              </h4>
              </div>
            </div>
          
          <div id="accordion-five" class="panel-collapse collapse">
            <div class="panel-body bg-info">
              Foundation of Hope’s Tax ID Number: 47-5005931
              </div> 
            </div>  
          <hr class="faqstyle">
          

          
          
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion-six">
                  What is Partners for Hope?
                </a>
              </h4>
              </div>
            </div>
          
          <div id="accordion-six" class="panel-collapse collapse">
            <div class="panel-body bg-info">
              When you become a Partner for Hope you become a monthly supporter of Foundation of Hope, you make a powerful commitment to changing the lives of children and families in our local community. Our Partners for Hope are a group of passionate, caring individuals who are committed to giving our local community members the opportunity to learn, grow and be equipped with essential tools for success. Your monthly gift also ensures that Foundation of Hope can respond quickly when an important local social issue rises to provide immediate outreach to our local community members. We promise to continue inspiring hope and growth and to share updates of children and families whose lives you are changing. We’ll do this through: Email updates and community events that offers direct opportunities to connect and receive reports from our workers, volunteers, and ambassadors.
              </div> 
            </div>  
          <hr class="faqstyle">
          

          
          
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion-seven">
                  What is the Hope Gifts Program?
                </a>
              </h4>
              </div>
            </div>
          
          <div id="accordion-seven" class="panel-collapse collapse">
            <div class="panel-body bg-info">
              Hope Gifts Program aims to be a transformative experience in philanthropy.If you would like to learn more click 
              <a class="tingle_addon_two tingle_button_decoration">HERE</a>
              <div class="tingle_addon_window_two hidden">
                <h3 class="text-center">Join individuals and families who are engaging in lifesaving work and changing the Fairfield County, one person at a time. Foundation of Hope’s most generous donors gain insider access to our work and become members of a passionate and caring network.</h3>
                <div class="well">
                  <p><strong>Giving Levels and Recognition.</strong></p>
                  <p><strong>Hope Community ($2,500+)</strong></p>
                  <p><strong>
                    Join the Foundation of Hope Board in receiving first priority in special events and Inside FoH meetings and conference calls, which bring FoH’s work to life.
                  </strong></p>
                  <p><strong>Hope Society ($5,000+)</strong></p>
                  <p><strong>
                    In addition to above benefits, you will receive information regarding the Hope Community Center and also explore personalized travel and learning opportunities in Haiti, Nepal, other countries around the world where we support and build orphanages or schools.
                  </strong></p>
                  <p><strong>Hope Council ($10,000+)</strong></p>
                  <p><strong>
                    Receive all of the above benefits and an invitation to our most exclusive annual event, which recognizes the extraordinary leadership and legacy of our most generous benefactors.
                  </strong></p>
                </div>
              </div>
              </div> 
            </div>  
          <hr class="faqstyle">
          

          
          
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion-eight">
                  How can I spend on Amazon and support the Foundation of Hope?
                </a>
              </h4>
              </div>
            </div>
          
          <div id="accordion-eight" class="panel-collapse collapse">
            <div class="panel-body bg-info">
              Get started by visiting AmazonSmile, customers are prompted to select a charitable organization in order to browse or shop at AmazonSmile. For eligible purchases at AmazonSmile, the AmazonSmile Foundation will donate 0.5% of the purchase price to the customer’s selected charitable organization. Select the Foundation of Hope, your purchases at  smile.amazon.com, will support Foundation Of Hope. Foundation of Hope’s Tax ID Number: 47-5005931
              </div> 
            </div>  
          <hr class="faqstyle">
          

          
          
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion-nine">
                  How do I make a wire transfer to the Foundation of Hope?
                </a>
              </h4>
              </div>
            </div>
          
          <div id="accordion-nine" class="panel-collapse collapse">
            <div class="panel-body bg-info">
              Please contact Mikilah Worsely at 646.820.3771
              </div> 
            </div>  
          <hr class="faqstyle">
          

          
          
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion-ten">
                  I have an issue with the Web donation I made.
                </a>
              </h4>
              </div>
            </div>
          
          <div id="accordion-ten" class="panel-collapse collapse">
            <div class="panel-body bg-info">
              Web donations will show up on our database approximately 24 hours after the transaction is complete, but donors will receive an immediate confirmation of their donation.
              </div> 
            </div>  
          <hr class="faqstyle">
          

          </div> 

        </div>

      <footer class="flex text_center">
        <div>
          Foundation of Hope | 2017
        </div>
      </footer>
      </div>  
    <script type="text/javascript" src="../js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/jquery.form-validator.min.js"></script>
    <script type="text/javascript" src="../js/tingle.min.js"></script>
    <script type="text/javascript" src="../js/faq_script.js"></script>
  </body>
  </html>