<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Foundation of Hope</title>
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/jquery-ui.min.css">
        <link rel="stylesheet" type="text/css" href="../css/jquery-ui.structure.min.css">
        <link rel="stylesheet" type="text/css" href="../css/jquery-ui.theme.min.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
	<label for="drawer-toggle" id="drawer-toggle-label"></label>
	<header>&nbsp</header>
	<nav id="drawer">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="history.html">History</a></li>
			<li><a href="boardoftrustees.html">Board of Trustees</a></li>
            <li><a href="contact.html">Contact us</a></li>
            <li><a href="faq.html">Frequently Asked Questions</a></li>
		</ul>
	</nav>
	<div id="page-content" class="container">
     <div id="boardoftrustees">
      <div class="hero">
       <div class="contained">
        <h3 class="text-center">Frequently Asked Questions</h3>
          </div><!--   end .contained   -->
         </div><!-- end .hero   -->
        </div><!--  end #boardoftrustees -->
               <div class="text_center faq-custom-content container">   
                    <div class="panel-group" id="accordion">
                                <!--     Accordion One              -->
                                  <!--    Accordion One Header                 -->
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#accordion-one">
                              How can I volunteer at the Foundation of Hope?
                            </a>
                          </h4>
                        </div><!--   end panel-heading   -->
                      </div><!--  end panel-primary   -->
                                <!--    Accordion One Body                  -->
                                  <div id="accordion-one" class="panel-collapse collapse">
                                    <div class="panel-body bg-info">
                                        <p>
                                          Volunteers are an important part of the Foundation of Hope. 
                                           Working in harmony as a team, we can make a positive impact in our community. 
                                        </p>
                                      We welcome committed individuals to become volunteers for committee positions. 
                                      Our positions are offered in different areas such as finance, fundraising, marketing and communications, 
                                      academia, outreach, social media, and administrative work. 
                                      Most volunteers are asked to commit to a minimum of 4 hours per week. 
                                      To become a volunteer email Events@inspiregivehope.com or Call 646.820.3771.
                                      <p>
                                      If you would like to know more about "Brief Committee Descriptions" please click to toggle for a more detailed explanation :
                                      </p>
                                      <!-- Toogle Buttons -->
                                      <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#toggle-example">
                                      Academia
                                      </button>
                                      <!-- attribute data-toogle="collapse"  attached to id="toggle-example"-->

                                      <div id="toggle-example" class="collapse"> <!-- id="toggle-example" -->
                                       <p class="well">
                                         The purpose of the Academic Committee is to provide oversight of all matters relating to the Hope Community Center’s programs such as, School year & Summer school curriculum, French & Spanish classes, ESL program, Special needs program. Committee faculty members on board ensure that academic priorities are appropriately drafted and funded, and consistent with the overall educational requirements and mission of Connecticut State Board of Education and our community center.
                                       </p>
                                      </div>
                                      
                                      
                                      
                                      
                                      
                                      
                                    </div> <!--   end panel body  --> 
                                  </div>  <!--   end panel collapse  --> 
                                      <!--       End Accordion One                           -->
                      <!--     Accordion Two              -->
                      <!--    Accordion Two Header                 -->
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#accordion-two">
                              Accordion Two
                            </a>
                          </h4>
                        </div><!--   end panel-heading   -->
                      </div><!--  end panel-primary   -->
                      <!--    Accordion Two Body                  -->
                      <div id="accordion-two" class="panel-collapse collapse">
                        <div class="panel-body bg-info">
                          This is not done
                        </div> <!--   end panel body  --> 
                      </div>  <!--   end panel collapse  --> 
                      <!--       End Accordion Two                           -->
                 </div> <!--   end panel-group  --> 
                 
  
               
                    
                    
            
       
              
                    
               </div><!--   end text-center and faq-custom-content   -->
<footer class="flex text_center">
 <div>
    Foundation of Hope | 2017
  </div>
 </footer>
</div>	<!-- end page-content  -->
     <script type="text/javascript" src="../js/jquery-3.1.0.min.js"></script>
     <script type="text/javascript" src="../js/bootstrap.min.js"></script>
     <script type="text/javascript" src="../js/jquery-ui.min.js"></script>
     <script type="text/javascript" src="../js/jquery.form-validator.min.js"></script>
     <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>