<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Foundation of Hope</title>
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/jquery-ui.min.css">
        <link rel="stylesheet" type="text/css" href="../css/jquery-ui.structure.min.css">
        <link rel="stylesheet" type="text/css" href="../css/jquery-ui.theme.min.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
	<label for="drawer-toggle" id="drawer-toggle-label"></label>
	<header>&nbsp</header>
	<nav id="drawer">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="history.html">History</a></li>
			<li><a href="boardoftrustees.html">Board of Trustees</a></li>
            <li><a href="contact.html">Contact us</a></li>
            <li><a href="faq.html">Frequently Asked Questions</a></li>
		</ul>
	</nav>
	<div id="page-content" class="container">
     <div id="boardoftrustees">
      <div class="hero">
       <div class="contained">
        <h3 class="text-center">Frequently Asked Questions</h3>
          </div><!--   end .contained   -->
         </div><!-- end .hero   -->
        </div><!--  end #boardoftrustees -->
         <div class="text_center faq-custom-content">
            
            
            <p>Will be adding acordion style faq with boostrap</p>
            
             
         </div><!--   end text-center   -->
<footer class="flex text_center">
 <div>
    Foundation of Hope | 2017
  </div>
 </footer>
</div>	<!-- end page-content  -->
     <script type="text/javascript" src="../js/jquery-3.1.0.min.js"></script>
     <script type="text/javascript" src="../js/bootstrap.min.js"></script>
     <script type="text/javascript" src="../js/jquery-ui.min.js"></script>
     <script type="text/javascript" src="../js/jquery.form-validator.min.js"></script>
     <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>