<!-- <!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Form to update History</title>
          <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
          <link rel="stylesheet" type="text/css" href="../css/jquery-ui.min.css">
          <link rel="stylesheet" type="text/css" href="../css/jquery-ui.structure.min.css">
          <link rel="stylesheet" type="text/css" href="../css/jquery-ui.theme.min.css">
          <link rel="stylesheet" type="text/css" href="../css/style.css">
	</head>
	<body>
		<input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
		<label for="drawer-toggle" id="drawer-toggle-label"></label>
	<header>&nbsp</header>
	<nav id="drawer">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="history.html">History</a></li>
			<li><a href="boardoftrustees.html">Board of Trustees</a></li>
		</ul>
	</nav>
	<div id="page-content">
		<div class="container">
		<form>
			<div class="form-group">
				<label for="year">Year</label>
				<input type="date" class="form-control" id="year" placeholder="Year">
			</div>
			<div class="form-group">
				<label for="history">Content</label>
				<textarea class="form-control textArea" id="historyContent" placeholder="Enter your text here"></textarea>
			</div>
			<button id="historySubmit" type="submit" class="btn btn-default">Submit</button>
		</form>
		</div>
		<br>
		<footer class="flex text_center">
			<div>
				Foundation of Hope | 2017
			</div>
		</footer>
	</div>
	<!-- /#page-content -->
	<!-- jQuery -->
	<script src="../js/jquery-3.1.0.min.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="../js/bootstrap.min.js"></script>
	<!-- internal scripts -->
	<script type="text/javascript" src="../js/script.js"></script>
	</script>
</body>
</html> -->