<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Foundation of Hope</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
	<label for="drawer-toggle" id="drawer-toggle-label"></label>
	<header>&nbsp</header>
	<nav id="drawer">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="boardofdirectors.html">Board of Directors</a></li>
			<li><a href="faq.html">Frequently Asked Questions</a></li>
			<!-- <li><a href="history.html">History</a></li> -->
			<li><a href="">Coming Soon</a></li>
		</ul>
	</nav>
	<div id="page-content">
		<div id="home">
			<div id="home_hero" class="flex">
				<div id="hero_welcome">
					<h1 id="home_quote">In order to succeed, we must first believe that we can.</h1>
					<h3 id="home_author">- Nikos Kazantzakis</h3>
				</div>
			</div>
			<div class="container flex text_center" id="description">
				<h1>Inspire. Give. Hope.</h1>
				<p>
					Foundation of Hope is a non-profit organization. Our mission is to collaborate and partner with charitable organizations to help bring local awareness to the subjects of disaster relief, medical assistance and humanitarian aid with particular attention to children and education.
				</p>
			</div>

			<div class="container flex text_center" id="outro">
				<h2>WE TAKE GLOBAL CHARITIES AND BRING LOCAL AWARENESS</h2>
				<h3>The Foundation of Hope, Inc. is a 501(c)(3) organization. Gifts are deductible to the full extent allowable under IRS regulations.</h3>
			</div>

		</div>
		<footer id="footer" class="flex text_center">
			<div>
				Foundation of Hope | 2017
			</div>
		</footer>
	</div>
	<!-- jQuery -->
	<script type="text/javascript" src="../js/jquery-3.1.0.min.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/h_script.js"></script>
</body>
</html>