<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Foundation of Hope</title>
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
	<label for="drawer-toggle" id="drawer-toggle-label"></label>
	<header>&nbsp</header>
	<nav id="drawer">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="history.html">History</a></li>
			<li><a href="boardoftrustees.html">Board of Trustees</a></li>
			<li><a href="contact.html">Contact us</a></li>
            <li><a href="faq.html">Frequently Asked Questions</a></li>
		</ul>
	</nav>
	<div id="page-content">
		<div id="home">
			<div id="home_hero" class="flex">
				<div id="hero_welcome">
					<h3>In order to succeed, we must first believe that we can.</h3>
					<h5>- Nikos Kazantzakis</h5>
				</div>
			</div>
			<div class="container flex text_center" id="description">
				<h1>Inspire. Give. Hope.</h1>
				<p>
					Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
				</p>
			</div>
			<div id="showcase">
				<div class="col-xs-12">
					<div class="row container" id="showcase_container">
						<div class="col-xs-12 col-sm-3 display" id="display1">Showcase 1</div>
						<div class="col-xs-12 col-sm-3 col-sm-offset-1 display" id="display2">Showcase 2</div>
						<div class="col-xs-12 col-sm-3 col-sm-offset-1 display" id="display3">Showcase 3</div>
					</div>
				</div>
			</div>

		</div>
		<footer class="flex text_center">
			<div>
				Foundation of Hope | 2017
			</div>
		</footer>
  </div>
	 <script type="text/javascript" src="../js/jquery-3.1.0.min.js"></script>
	 <script type="text/javascript" src="../js/bootstrap.min.js"></script>
     <script type="text/javascript" src="../js/tingle.min.js"></script>
	 <script type="text/javascript" src="../js/jquery.form-validator.min.js"></script>
     <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>