// Declare image variables
board_of_directors_img = '../img/home/home_img_1.jpg'

#boardofdirectors
  .hero
    background linear-gradient(rgba(50,50,50,0.1),rgba(50,50,50,0.1)),url(board_of_directors_img)
    background-size cover
    background-repeat no-repeat
    height 50vh
    color white
    .contained
      padding-top 7%
      margin 5%
      font-weight 500
      line-height 1.2
      letter-spacing 2px
  .section
    margin-top 5%
    margin-bottom 3%